* {
   margin:0; 
   padding:0;
   font-family: "apolline" !important;
}	

html {
   overflow:hidden;

}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	color: #105B63;
}
.brandcolor {
	color: #BD4932
}