
{% for page in pages %}
<div class="container" >
	<div class="row">
		<div class="col-sm-12">
			<span class="glyphicon glyphicon-star brandcolor"></span><a href="{{ url_for("page", path=page.path) }}"> {{ page.title }}</a>
		| <span class="glyphicon glyphicon-star brandcolor"></span> Date: {{ page.date }}
	{% if page.meta.tags|length %}
		| <span class="glyphicon glyphicon-star brandcolor"></span> Tagged:
		{% for page_tag in page.meta.tags %}
			<a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
		{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% else %}
	<p>No page.</p>
{% endfor %}
