{% extends "base.html" %}
{% block content %}
<div class="container card" style="margin-bottom: 4em;">
	<div class="row">
	<div><h1>About Me</h1>
		<p>Data professional, developer hobbyist, I specialize in wrangling and visualizing data. </p>
	</div>

		<div class="col-xs-12"><h2>Technical Know-How</h2>
		<div class="col-xs-offset-1">
		<h3>Languages</h3>
		</div>
		<div class="col-xs-offset-2">
			<strong>Beginner: </strong>Go, R
			<strong>Proficient: </strong>Javascript
			<strong>Skilled: </strong>Python, SAS
			<strong>Mastered: </strong>Stata
		</div>
		<div class="col-xs-offset-1">	
		<h3>Frameworks</h3>
		</div>
		<div class="col-xs-offset-2">
			<strong>Beginner: </strong>Meteor, Angular
			<strong>Proficient: </strong>Django
			<strong>Skilled: </strong>D3.JS, Flask
		</div>
		</div>

		<div class="col-xs-12"><h2>Experience</h2>
		<div class="col-xs-offset-1">
		<h3>L&M Policy Research</h3>
		</div>
		<div class="col-xs-offset-2">
		<p><strong><em>Researcher</em></strong> In this role I manage several projects.</p>
		<h4>Research Associate</h4>
		<h4>Research Assistant</h4>
		</div>
		</div>
		<div class="col-xs-12"><h2>Education</h2>
		<div class="col-xs-offset-1">
			<h3>Johns Hopkins University</h3>
			<h4><em>Master's in Publicy Policy</em></h4>
			<h3>State University of New York at Geneseo</h3>
			<h4><em>Bachelors of Economics and Enlgish</em></h4>
		</div>
		</div>
		<div class="col-xs-12"><h2>Achievements</h2>
		<div class="col-xs-offset-1">
		<h3>Traversing the TransAmerica Trail</h3>
		<p>Bicycled the 4,200 mile trail from Virginia to Oregon</p>
		<h3>Abell Award in Urban Policy</h3>
		<p>With co-author JB Wogan, won the competition with paper: <em>Latino Education in Baltimore</em></p>
		<h3>District Data Lab (DDL) Incubator Program Winners</h3>
		<p>Part of small team that designed, developed, and deployed the DEW platform. The team presented and won the Incubator Program in the Spring of 2015</p>
</div>

{% endblock content %}