<!DOCtype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Will Sankey | Data and code</title>
   <script src="//use.typekit.net/puo2mkm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/prism.css') }}"/>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  	  <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}"/>

</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
  <h1><a href="{{ url_for("index") }}">Will Sankey</a>
  <small>
  <span class="namegroup">
  <ul id="namelist">
    <li id="list"><a href="{{ url_for('aboutme')}}">[About Me, </a></li>
    <li id="list"><a href="{{ url_for('blog')}}">Blog,</a></li>
    <li id="list"><a href="{{ url_for('projects')}}">Projects]</a></h3></li>
  </ul>
  </span>
  </small>
  </h1>

{% block content %}
{% endblock content %}
    </div>
  </div>
</div>
</body>
</html>
